### Presets

In [1]:
import subprocess
import google.colab
subprocess.run(['pip', 'install', 'pysqlite3-binary'], capture_output=False)
import pysqlite3 as sqlite3
print(f'SQLite version: {sqlite3.sqlite_version}')

SQLite version: 3.39.4

In [7]:
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.4.44)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy->pandasql) (2.0.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26787 sha256=e6980adec5ea075ac92cab6eaa53df8ee3b128f2b5e52a1799140b8fc4e5969b
  Stored in directory: /root/.cache/pip/wheels/ed/8f/46/a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [9]:
from google.colab import drive
drive.mount('/content/drive')

driveP = "/content/drive/MyDrive/"
import os
import pandas as pd
import numpy as np

conn = sqlite3.connect(driveP + "readychef.db")
def execSQL(conn1,query):
  conn1.execute(query) #exeute the SQL query
  conn1.commit() # commit the query into the actual database

def allrowSelect(conn1,query):
  cursor = conn1.execute(query)
  for row in cursor:
    print(row)

def rowSelect(conn1,query, place):
  cursor = conn1.execute(query)
  cursorInd = 1
  for row in cursor:
    if cursorInd == place:
      print(row)
      continue
    cursorInd += 1
execSQL(conn,"PRAGMA foreign_keys=ON")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

The remaining questions are based on the **ReadyChef database** (readychef.db) which
has been distributed along with this assignment. It represents data from a hypothetical
e-commerce website that sells ready-to-eat meals. There are five tables in this
database:


*   events: contains actions taken by users with respect to meals: can be either

*   meals: contains the meal ids, meal types, date, and price. (Meals appear on the bought, like, or share site on particular dates).


*   referrals: contains pairs of user ids representing what users have referred other
users to the site
*   users: contains user ids, dates they joined the site, and what advertising
campaign brought them to the site

*   visits: contains dates and user ids representing user visits to the site.

. 1. Consider the list of JSON documents in MongoDB’s bios example collection.

*   https://www.mongodb.com/docs/manual/reference/bios-example-collection/
*   The main table **computer_scientists** should contain **id**, **last**, **first**, **birth**, **death** - 

*   There should also be tables for .
*   **computer_scientists** table should be
linked to the **contribs** and **awards** tables via one-to-many relationships, each of which should be represented in another table, for a total of five tables. 

*   Enforce foreign key constraints by adding them to your “CREATE TABLE” statements.

In [2]:
#1 What is the *average number of awards* per scientist? 
#You can use any method you want to parse the JSON and insert it into SQLite 
#(MongoDB queries or just pure Python, for instance). (20 points)

In [10]:
print("---------users---------")
allrowSelect(conn,"select * from pragma_table_info('users')")
print("---------visits---------")
allrowSelect(conn,"select * from pragma_table_info('visits')")

---------users---------
(0, 'userid', 'INTEGER', 0, None, 0)
(1, 'dt', 'date', 0, None, 0)
(2, 'campaign_id', 'varchar', 0, None, 0)
---------visits---------
(0, 'dt', 'date', 0, None, 0)
(1, 'userid', 'INTEGER', 0, None, 0)

2. What is the user id of the user that visited the site most frequently?

In [ ]:
print("---------meals---------")
allrowSelect(conn,"select * from pragma_table_info('meals')")
print("---------invoice_items---------")
allrowSelect(conn,"select * from pragma_table_info('events')")

3. What is the average cost of Chinese meals in the meals table, rounded to two
decimal places?

In [ ]:
print("---------meals---------")
allrowSelect(conn,"select * from pragma_table_info('meals')")
print("---------users---------")
allrowSelect(conn,"select * from pragma_table_info('users')")


4. What user bought the most meals?

In [13]:
print("---------referrals---------")
allrowSelect(conn,"select * from pragma_table_info('referrals')")
print("---------users---------")
allrowSelect(conn,"select * from pragma_table_info('users')")

---------referrals---------
(0, 'referred', 'INTEGER', 0, None, 0)
(1, 'referred_by', 'INTEGER', 0, None, 0)
---------users---------
(0, 'userid', 'INTEGER', 0, None, 0)
(1, 'dt', 'date', 0, None, 0)
(2, 'campaign_id', 'varchar', 0, None, 0)

5. Quite a few users are tied for the most other users referred. For these top
referrers, what is the number of other users referred?

In [14]:
print("---------events---------")
allrowSelect(conn,"select * from pragma_table_info('events')")

---------events---------
(0, 'dt', 'date', 0, None, 0)
(1, 'userid', 'INTEGER', 0, None, 0)
(2, 'meal_id', 'INTEGER', 0, None, 0)
(3, 'event', 'varchar', 0, None, 0)


6. What type of meal was most frequently shared by the user who bought the most
meals?

In [ ]:
#events=bought,shared
#

In [12]:
print("---------meals---------")
allrowSelect(conn,"select * from pragma_table_info('meals')")

---------meals---------
(0, 'meal_id', 'INTEGER', 0, None, 0)
(1, 'type', 'varchar', 0, None, 0)
(2, 'dt', 'date', 0, None, 0)
(3, 'price', 'INTEGER', 0, None, 0)


7. Using a window function, assign a quintile from 1 to 5 to each meal based on the
price with quintile 1 having the highest price and quintile 5 the lowest. What is
the lowest price in quintile 3?

In [ ]:
print("---------invoices---------")
allrowSelect(conn,"select * from pragma_table_info('invoices')")
print("---------invoice_items---------")
allrowSelect(conn,"select * from pragma_table_info('invoice_items')")


8. Using a window function, create a view that has the following columns: userid,
current_order_date, current_meal_type, and next_meal_type. This should be
based on **partitioning by user** and ordering by date for the meals each user
bought. 

*   For each date that the user bought a meal, the next_meal_type should
contain the type of the next meal that they bought, chronologically. Query this
view to find the types of the first three meals bought by user 2.

In [ ]:
#8 userid, current_order_date, current_meal_type, next_meal_type

In [11]:
print("---------meals---------")
allrowSelect(conn,"select * from pragma_table_info('meals')")

---------meals---------
(0, 'meal_id', 'INTEGER', 0, None, 0)
(1, 'type', 'varchar', 0, None, 0)
(2, 'dt', 'date', 0, None, 0)
(3, 'price', 'INTEGER', 0, None, 0)


9. Find the average price for each type of meal using a window function and add it
to the table without reducing the number of meals. Then find the difference in
price between each meal and the average of that type. What is this value for the
cheapest Italian meal (that is, how much less is it than the average)?

In [ ]:
#avg