In [1]:
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.4.44)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy->pandasql) (2.0.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26787 sha256=a8c5cea57a1fd2d56edfee1049fc68a0912228c799bfe9c28094805f712a78b2
  Stored in directory: /root/.cache/pip/wheels/ed/8f/46/a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
gdrivePath = "/content/drive/MyDrive/"
import os
import pandas as pd
import pandasql

try:
  os.remove(gdrivePath + "movies.db")
except:
  conn1 = sqlite3.connect(gdrivePath+"movies.db")

def execSQL(conn1,query):
  conn1.execute(query) #exeute the SQL query
  conn1.commit() # commit the query into the actual database

creating a Table in a DB\
a table is like a pandas df - with at least one named columns of any one of the five types
\

In SQL, a query holds the names of the columns + their types in a CREATE TABLE statement


*   name of new table(**req**)
*   name of each column in table(**req**)


*   type of each column in table(**req**)
*   default value per column(**req**)
 

*   PRIMARY KEY - for the table - in one or more columns(*good practice*)
*   constraints for columns(UNIQUE or NULL) (*good practice*)


```
createCMD = '''
CREATE TABLE movie (
  id integer PRIMARY KEY autoincrement,
  title text,
  director text,
  year text,
  runtine integer,
  genre text,
  budget real,
  gross real
);

#execute
execSQL(conn,createCMD)
'''
```

In [ ]:
createCMD = '''
CREATE TABLE movie (
  id integer PRIMARY KEY autoincrement,
  title text,
  director text,
  year text,
  runtine integer,
  genre text,
  budget real,
  gross real
);
'''
# execute
execSQL(conn1,createCMD)
def allrowSelect(conn1,query):
  cursor = conn1.execute(query)
  for row in cursor:
    print(row)
allrowSelect(conn1,"select * from pragma_table_info('movie')")

(0, 'id', 'integer', 0, None, 1)
(1, 'title', 'text', 0, None, 0)
(2, 'director', 'text', 0, None, 0)
(3, 'year', 'text', 0, None, 0)
(4, 'runtine', 'integer', 0, None, 0)
(5, 'genre', 'text', 0, None, 0)
(6, 'budget', 'real', 0, None, 0)
(7, 'gross', 'real', 0, None, 0)

# To query data from SQL - 
 

```
SELECT [DISTINCT] columns (**req**)
  FROM table (**req**)
  WHERE condition
  GROUP BY columns
  HAVING conditions
  ORDER BY column[ASC | DESC]
  LIMIT offset, count
```

## Basic

```
queryBasic = "select * from movie"
allrowSelect(conn1,queryBasic)
```
## LIMIT


```
#select all columns except only the first 8 rows
queryLIM = "select * from movie limit 8"

#select only the title, director, and genre columns with row genres with "Thriller" somewhere in it
queryLIMcols = "select title, director, genre, from movie where genre like '%Thriller'"
```

NULL: MISSING DATA\
INTEGER:varialbe # of b depending on value magn\
REAL: flt point value w/ 8 b\
TEXT: string\
BLOB: "blob" of data stored exactly as it was input - may store images
\

1. Using the invoices table, find out the BillingCity in the United Kingdom that has the
second most invoices? (Note that the invoices table has orders from many countries.)
2. What is the average number of tracks purchased per customer? (Note you can ignore
the Quantity field in the invoice_items table which is always one.) Round your answer to
two places after the decimal point.
3. How many albums have jazz tracks?
4. How many comedy tracks were purchased in total? (Note you can ignore the Quantity
field in the invoice_items table which is always one.)
5. What is the name of the customer who purchased the most Blues tracks?
6. On the Grunge playlist, what is the name of the track that comes second
alphabetically?

7. How many albums sold more than $20 worth of tracks - you can ignore the Quantity field in the invoice_items table which is always one.
8. What is the average number of customers supported by each support rep, rounded to
one place after the decimal point? Note that SupportRepid in the Customers table
corresponds to Employeeid in the Employees table.
9. How many genres had sales exceeding $200?
10. What artist has the third most albums in the database?
11. Find the names of the tracks on the album "Fireball" and put them in alphabetical
order. What is the name of the third track (in alphabetical order, not in the order in which
they appeared on the album)?
12. How many artists in the database do not have any albums in the database?
13. What is the name of the second shortest album, in terms of the total milliseconds of
its tracks stored in the database?
14. Find the number of invoices per billing city. Although there are 53 billing cities in the
invoices table, there are are only a few distinct values of invoices per city. What are all
of these values?

The questions in this assignment refer to the Chinook database as a
SQLite file. It has the following tables:
* albums: information about the albums that the store sells individual tracks from
* tracks: information about the tracks present in an album like name, genre,\
composer, milliseconds etc.
* artists: information about the artists (individual musicians or groups) that made
the albums and tracks
* customers: information about the customers of the store
* employees: information about the employees of the store
* genres: information about the musical genres associated with tracks
* invoice Items: information about Individual tracks sold, linked to invoices
* invoices: information about each sale to a customer of one or more tracks
* media types: formats in which tracks are sold
* playlists: information about playlists, which each consist of a set of tracks
* playlist_track: relationships between playlists and tracks

# Presets

In [3]:
driveP = "/content/drive/MyDrive/"
import sqlite3
import os
import pandas as pd
import numpy as np

import pandasql

conn = sqlite3.connect(driveP + "chinook.db")
def execSQL(conn1,query):
  conn1.execute(query) #exeute the SQL query
  conn1.commit() # commit the query into the actual database

def allrowSelect(conn1,query):
  cursor = conn1.execute(query)
  for row in cursor:
    print(row)

def rowSelect(conn1,query, place):
  cursor = conn1.execute(query)
  cursorInd = 1
  for row in cursor:
    if cursorInd == place:
      print(row)
      continue
    cursorInd += 1
execSQL(conn,"PRAGMA foreign_keys=ON")

In [ ]:
print("---------invoices---------")
allrowSelect(conn,"select * from pragma_table_info('invoices')")

---------invoices---------
(0, 'InvoiceId', 'INTEGER', 1, None, 1)
(1, 'CustomerId', 'INTEGER', 1, None, 0)
(2, 'InvoiceDate', 'DATETIME', 1, None, 0)
(3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0)
(4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0)
(5, 'BillingState', 'NVARCHAR(40)', 0, None, 0)
(6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0)
(7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0)
(8, 'Total', 'NUMERIC(10,2)', 1, None, 0)

In [44]:
#Question 1
queryQ1 = '''
select BillingCity, BillingCountry, count(*) as counts from invoices 
where BillingCountry = 'United Kingdom' 
group by BillingCity 
order by counts desc
limit 2'''
rowSelect(conn,queryQ1,2)

('Edinburgh ', 'United Kingdom', 7)

In [43]:
print("---------invoices---------")
allrowSelect(conn,"select * from pragma_table_info('invoices')")
print("---------invoice_items---------")
allrowSelect(conn,"select * from pragma_table_info('invoice_items')")

---------invoices---------
(0, 'InvoiceId', 'INTEGER', 1, None, 1)
(1, 'CustomerId', 'INTEGER', 1, None, 0)
(2, 'InvoiceDate', 'DATETIME', 1, None, 0)
(3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0)
(4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0)
(5, 'BillingState', 'NVARCHAR(40)', 0, None, 0)
(6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0)
(7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0)
(8, 'Total', 'NUMERIC(10,2)', 1, None, 0)
---------invoice_items---------
(0, 'InvoiceLineId', 'INTEGER', 1, None, 1)
(1, 'InvoiceId', 'INTEGER', 1, None, 0)
(2, 'TrackId', 'INTEGER', 1, None, 0)
(3, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)
(4, 'Quantity', 'INTEGER', 1, None, 0)
(5, 'invoice_items', 'INTEGER', 0, None, 0)

In [42]:
from pandasql import sqldf

fullsql = '''
select avg(sums) from
(select CustomerId, sum(counts) as sums from
(select CustomerId, count(*) as counts
from invoices
inner join invoice_Items on invoices.InvoiceId = invoice_items.InvoiceId group by invoice_items.InvoiceId) group by CustomerId)
'''

allrowSelect(conn, fullsql)

(37.96610169491525,)

In [45]:
#question 2
#average number of tracks purchased per customer? Round answer to
#two places after the decimal point.
from pandasql import sqldf

fullsql = '''
select avg(sums) from
(select CustomerId, sum(counts) as sums from
(select CustomerId, count(*) as counts
from invoices
inner join invoice_Items on invoices.InvoiceId = invoice_items.InvoiceId group by invoice_items.InvoiceId) group by CustomerId)
'''

allrowSelect(conn, fullsql)

(37.96610169491525,)

In [83]:
print("---------albums---------")
allrowSelect(conn,"select * from pragma_table_info('albums')")
print("---------tracks---------")
allrowSelect(conn,"select * from pragma_table_info('tracks')")
allrowSelect(conn, "select count(*) FROM (select distinct AlbumId from tracks WHERE (GenreId==2))")

---------albums---------
(0, 'AlbumId', 'INTEGER', 1, None, 1)
(1, 'Title', 'NVARCHAR(160)', 1, None, 0)
(2, 'ArtistId', 'INTEGER', 1, None, 0)
---------tracks---------
(0, 'TrackId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(200)', 1, None, 0)
(2, 'AlbumId', 'INTEGER', 0, None, 0)
(3, 'MediaTypeId', 'INTEGER', 1, None, 0)
(4, 'GenreId', 'INTEGER', 0, None, 0)
(5, 'Composer', 'NVARCHAR(220)', 0, None, 0)
(6, 'Milliseconds', 'INTEGER', 1, None, 0)
(7, 'Bytes', 'INTEGER', 0, None, 0)
(8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)
(13,)

In [84]:
#3. How many albums have jazz tracks? jazz = 2
jazzQ = "select count(*) FROM (select distinct AlbumId from tracks WHERE (GenreId==2))"
allrowSelect(conn, jazzQ)
#pd.read_sql_query(jazzQ, conn).size
#Answer: 13

(13,)

In [ ]:
print("---------invoice_items---------")
allrowSelect(conn,"select * from pragma_table_info('invoice_items')")
print("---------tracks---------")
allrowSelect(conn,"select * from pragma_table_info('tracks')")

---------invoice_items---------
(0, 'InvoiceLineId', 'INTEGER', 1, None, 1)
(1, 'InvoiceId', 'INTEGER', 1, None, 0)
(2, 'TrackId', 'INTEGER', 1, None, 0)
(3, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)
(4, 'Quantity', 'INTEGER', 1, None, 0)
(5, 'invoice_items', 'INTEGER', 0, None, 0)
---------tracks---------
(0, 'TrackId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(200)', 1, None, 0)
(2, 'AlbumId', 'INTEGER', 0, None, 0)
(3, 'MediaTypeId', 'INTEGER', 1, None, 0)
(4, 'GenreId', 'INTEGER', 0, None, 0)
(5, 'Composer', 'NVARCHAR(220)', 0, None, 0)
(6, 'Milliseconds', 'INTEGER', 1, None, 0)
(7, 'Bytes', 'INTEGER', 0, None, 0)
(8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)

In [76]:
#4. How many comedy tracks were purchased in total? (Note you can ignore the Quantity
#field in the invoice_items table which is always one.) 3503


fullsql = '''
SELECT tracks.TrackId, count(Quantity) as counts
	FROM tracks
	LEFT OUTER JOIN invoice_items on tracks.TrackId = invoice_items.TrackId
  WHERE GenreId == 22
'''

allrowSelect(conn, fullsql)

#Answer: 9

(3429, 9)

In [138]:
print("---------invoice_items---------")
allrowSelect(conn,"select * from pragma_table_info('invoice_items')")
print("---------genres---------")
allrowSelect(conn,"select * from pragma_table_info('genres')")
print("---------invoices---------")
allrowSelect(conn,"select * from pragma_table_info('invoices')")
print("---------tracks---------")
allrowSelect(conn,"select * from pragma_table_info('customers')")
allrowSelect(conn, "SELECT * FROM genres WHERE Name like 'Blues'")
#yields Blues has genreId 6

---------invoice_items---------
(0, 'InvoiceLineId', 'INTEGER', 1, None, 1)
(1, 'InvoiceId', 'INTEGER', 1, None, 0)
(2, 'TrackId', 'INTEGER', 1, None, 0)
(3, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)
(4, 'Quantity', 'INTEGER', 1, None, 0)
(5, 'invoice_items', 'INTEGER', 0, None, 0)
---------genres---------
(0, 'GenreId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(120)', 0, None, 0)
---------invoices---------
(0, 'InvoiceId', 'INTEGER', 1, None, 1)
(1, 'CustomerId', 'INTEGER', 1, None, 0)
(2, 'InvoiceDate', 'DATETIME', 1, None, 0)
(3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0)
(4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0)
(5, 'BillingState', 'NVARCHAR(40)', 0, None, 0)
(6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0)
(7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0)
(8, 'Total', 'NUMERIC(10,2)', 1, None, 0)
---------tracks---------
(0, 'CustomerId', 'INTEGER', 1, None, 1)
(1, 'FirstName', 'NVARCHAR(40)', 1, None, 0)
(2, 'LastName', 'NVARCHAR(20)', 1, None, 0)
(3, 'Company', 'NVARCHAR(80)', 0, None, 0)
(4, 'Address', 'NVARCHAR(70)', 0, None, 0)
(5, 'City', 'NVARCHAR(40)', 0, None, 0)
(6, 'State', 'NVARCHAR(40)', 0, None, 0)
(7, 'Country', 'NVARCHAR(40)', 0, None, 0)
(8, 'PostalCode', 'NVARCHAR(10)', 0, None, 0)
(9, 'Phone', 'NVARCHAR(24)', 0, None, 0)
(10, 'Fax', 'NVARCHAR(24)', 0, None, 0)
(11, 'Email', 'NVARCHAR(60)', 1, None, 0)
(12, 'SupportRepId', 'INTEGER', 0, None, 0)
(6, 'Blues')

In [147]:
#5. What is the name of the customer who purchased the most Blues tracks?

#Blues GenreId is 6
sqlQ = '''

SELECT customers.FirstName, LastName FROM
(SELECT invoices.CustomerId as customerIDs, sum(invoiceCounts) as customerBlues
FROM (SELECT invoice_items.TrackId as genreTracks, InvoiceId as indInvoices, count(*) as invoiceCounts FROM invoice_items 
INNER JOIN tracks ON genreTracks = tracks.TrackId
WHERE GenreId == 6
GROUP BY InvoiceId), invoices
WHERE invoices.InvoiceId = indInvoices
GROUP BY customerIDs
ORDER BY customerBlues desc
LIMIT 1), customers
WHERE customers.CustomerId = customerIDs
'''
allrowSelect(conn,sqlQ)

('Leonie', 'KÃ¶hler')

In [122]:
print("---------playlists---------")
allrowSelect(conn,"select * from pragma_table_info('playlists')")
print("---------playlist_tracks---------")
allrowSelect(conn,"select * from pragma_table_info('tracks')")
allrowSelect(conn, "SELECT * FROM playlists WHERE Name like 'Grunge'")
#yields grunge playlistID as 16
allrowSelect(conn,"select * from playlist_track WHERE (PlaylistId==16)")

---------playlists---------
(0, 'PlaylistId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(120)', 0, None, 0)
---------playlist_tracks---------
(0, 'TrackId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(200)', 1, None, 0)
(2, 'AlbumId', 'INTEGER', 0, None, 0)
(3, 'MediaTypeId', 'INTEGER', 1, None, 0)
(4, 'GenreId', 'INTEGER', 0, None, 0)
(5, 'Composer', 'NVARCHAR(220)', 0, None, 0)
(6, 'Milliseconds', 'INTEGER', 1, None, 0)
(7, 'Bytes', 'INTEGER', 0, None, 0)
(8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)
(16, 'Grunge')
(16, 52)
(16, 2003)
(16, 2004)
(16, 2005)
(16, 2007)
(16, 2010)
(16, 2013)
(16, 2194)
(16, 2195)
(16, 2198)
(16, 2206)
(16, 2512)
(16, 2516)
(16, 2550)
(16, 3367)

In [148]:
#6. On the Grunge playlist, what is the name of the track that comes second alphabetically?
query = '''
SELECT grungeTracks, Name
FROM (SELECT playlist_track.PlaylistId,TrackId as grungeTracks FROM playlist_track 
INNER JOIN playlists ON playlist_track.PlaylistId = playlists.PlaylistId
WHERE playlist_track.PlaylistId==16), tracks
WHERE grungeTracks = tracks.TrackId
ORDER BY Name
LIMIT 2
'''
  
  #'''LEFT OUTER JOIN playlists WHERE (playlist_track.PlaylistId == playlists.PlaylistId)'''
rowSelect(conn,query,2)
#'Black Hole Sun'

(2516, 'Black Hole Sun')

In [ ]:
print("---------invoice_items---------")
allrowSelect(conn,"select * from pragma_table_info('invoice_items')")
print("---------tracks---------")
allrowSelect(conn,"select * from pragma_table_info('tracks')")

---------invoice_items---------
(0, 'InvoiceLineId', 'INTEGER', 1, None, 1)
(1, 'InvoiceId', 'INTEGER', 1, None, 0)
(2, 'TrackId', 'INTEGER', 1, None, 0)
(3, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)
(4, 'Quantity', 'INTEGER', 1, None, 0)
(5, 'invoice_items', 'INTEGER', 0, None, 0)
---------tracks---------
(0, 'TrackId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(200)', 1, None, 0)
(2, 'AlbumId', 'INTEGER', 0, None, 0)
(3, 'MediaTypeId', 'INTEGER', 1, None, 0)
(4, 'GenreId', 'INTEGER', 0, None, 0)
(5, 'Composer', 'NVARCHAR(220)', 0, None, 0)
(6, 'Milliseconds', 'INTEGER', 1, None, 0)
(7, 'Bytes', 'INTEGER', 0, None, 0)
(8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)

In [ ]:
print("---------invoice_items---------")
allrowSelect(conn,"select * from pragma_table_info('invoice_items')")
print("---------tracks---------")
allrowSelect(conn,"select * from pragma_table_info('tracks')")
allrowSelect(conn,"select count(*) from albums")
#yields there are 347 albums

---------invoice_items---------
(0, 'InvoiceLineId', 'INTEGER', 1, None, 1)
(1, 'InvoiceId', 'INTEGER', 1, None, 0)
(2, 'TrackId', 'INTEGER', 1, None, 0)
(3, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)
(4, 'Quantity', 'INTEGER', 1, None, 0)
(5, 'invoice_items', 'INTEGER', 0, None, 0)
---------tracks---------
(0, 'TrackId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(200)', 1, None, 0)
(2, 'AlbumId', 'INTEGER', 0, None, 0)
(3, 'MediaTypeId', 'INTEGER', 1, None, 0)
(4, 'GenreId', 'INTEGER', 0, None, 0)
(5, 'Composer', 'NVARCHAR(220)', 0, None, 0)
(6, 'Milliseconds', 'INTEGER', 1, None, 0)
(7, 'Bytes', 'INTEGER', 0, None, 0)
(8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)
(347,)

In [153]:
#7. How many albums sold more than $20 worth of tracks - you can ignore the Quantity field in the invoice_items table which is always one.
sql = '''
SELECT count(*)
FROM (
SELECT distinct AlbumId, sum(trackTot) as alTot
FROM (SELECT TrackId as invTrackId, sum(UnitPrice) as trackTot FROM invoice_items GROUP BY TrackId), tracks
WHERE TrackId = invTrackId
GROUP BY AlbumId 
) WHERE alTot>20
'''

allrowSelect(conn, sql)
#Answer is 20

(10,)

In [ ]:
print("---------customers---------")
allrowSelect(conn,"select * from pragma_table_info('customers')")
print("---------employees---------")
allrowSelect(conn,"select * from pragma_table_info('employees')")
allrowSelect(conn,"select * from employees")

---------customers---------
(0, 'CustomerId', 'INTEGER', 1, None, 1)
(1, 'FirstName', 'NVARCHAR(40)', 1, None, 0)
(2, 'LastName', 'NVARCHAR(20)', 1, None, 0)
(3, 'Company', 'NVARCHAR(80)', 0, None, 0)
(4, 'Address', 'NVARCHAR(70)', 0, None, 0)
(5, 'City', 'NVARCHAR(40)', 0, None, 0)
(6, 'State', 'NVARCHAR(40)', 0, None, 0)
(7, 'Country', 'NVARCHAR(40)', 0, None, 0)
(8, 'PostalCode', 'NVARCHAR(10)', 0, None, 0)
(9, 'Phone', 'NVARCHAR(24)', 0, None, 0)
(10, 'Fax', 'NVARCHAR(24)', 0, None, 0)
(11, 'Email', 'NVARCHAR(60)', 1, None, 0)
(12, 'SupportRepId', 'INTEGER', 0, None, 0)
---------employees---------
(0, 'EmployeeId', 'INTEGER', 1, None, 1)
(1, 'LastName', 'NVARCHAR(20)', 1, None, 0)
(2, 'FirstName', 'NVARCHAR(20)', 1, None, 0)
(3, 'Title', 'NVARCHAR(30)', 0, None, 0)
(4, 'ReportsTo', 'INTEGER', 0, None, 0)
(5, 'BirthDate', 'DATETIME', 0, None, 0)
(6, 'HireDate', 'DATETIME', 0, None, 0)
(7, 'Address', 'NVARCHAR(70)', 0, None, 0)
(8, 'City', 'NVARCHAR(40)', 0, None, 0)
(9, 'State', 'NVARCHAR(40)', 0, None, 0)
(10, 'Country', 'NVARCHAR(40)', 0, None, 0)
(11, 'PostalCode', 'NVARCHAR(10)', 0, None, 0)
(12, 'Phone', 'NVARCHAR(24)', 0, None, 0)
(13, 'Fax', 'NVARCHAR(24)', 0, None, 0)
(14, 'Email', 'NVARCHAR(60)', 0, None, 0)
(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com')
(2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com')
(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
(4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
(5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')
(6, 'Mitchell', 'Michael', 'IT Manager', 1, '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com')
(7, 'King', 'Robert', 'IT Staff', 6, '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com')
(8, 'Callahan', 'Laura', 'IT Staff', 6, '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')

In [154]:
#8. What is the average number of customers supported by each support rep, rounded to
#one place after the decimal point? Note that SupportRepid in the Customers table= Employeeid in the Employees table.
aggRepCounts = '''
SELECT avg(counts) FROM (SELECT distinct SupportRepId, count(*) as counts
FROM customers
GROUP BY SupportRepId)
'''
allrowSelect(conn,aggRepCounts)

(19.666666666666668,)

In [ ]:
print("---------invoice_items---------")
allrowSelect(conn,"select * from pragma_table_info('invoice_items')")
print("---------tracks---------")
allrowSelect(conn,"select * from pragma_table_info('tracks')")

---------invoice_items---------
(0, 'InvoiceLineId', 'INTEGER', 1, None, 1)
(1, 'InvoiceId', 'INTEGER', 1, None, 0)
(2, 'TrackId', 'INTEGER', 1, None, 0)
(3, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)
(4, 'Quantity', 'INTEGER', 1, None, 0)
(5, 'invoice_items', 'INTEGER', 0, None, 0)
---------tracks---------
(0, 'TrackId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(200)', 1, None, 0)
(2, 'AlbumId', 'INTEGER', 0, None, 0)
(3, 'MediaTypeId', 'INTEGER', 1, None, 0)
(4, 'GenreId', 'INTEGER', 0, None, 0)
(5, 'Composer', 'NVARCHAR(220)', 0, None, 0)
(6, 'Milliseconds', 'INTEGER', 1, None, 0)
(7, 'Bytes', 'INTEGER', 0, None, 0)
(8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)

array([ True, False,  True,  True, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [220]:
#9. How many genres had sales exceeding $200?

sql = '''
SELECT count(*)
FROM (
SELECT distinct GenreId, sum(trackTot) as alTot
FROM (SELECT TrackId as invTrackId, sum(UnitPrice) as trackTot FROM invoice_items GROUP BY TrackId), tracks
WHERE TrackId = invTrackId
GROUP BY GenreId 
) WHERE alTot>200'''

allrowSelect(conn,sql)

#Answer 4

(4,)

In [217]:
print("---------albums---------")
allrowSelect(conn,"select * from pragma_table_info('albums')")
print("---------artists---------")
allrowSelect(conn,"select * from pragma_table_info('artists')")

---------albums---------
(0, 'AlbumId', 'INTEGER', 1, None, 1)
(1, 'Title', 'NVARCHAR(160)', 1, None, 0)
(2, 'ArtistId', 'INTEGER', 1, None, 0)
---------artists---------
(0, 'ArtistId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(120)', 0, None, 0)

In [218]:
#10. What artist has the third most albums in the database?
album_art_q = '''
SELECT Name FROM (SELECT ArtistId as lastone, count(*) as counts 
FROM albums 
GROUP BY ArtistId ORDER BY counts desc
LIMIT 3 OFFSET 2) 
INNER JOIN artists ON lastone = artists.ArtistId
LIMIT 1
'''
#yields artist 66


artist66 = '''
SELECT * FROM artists 
WHERE (ArtistId==66)
'''
allrowSelect(conn,album_art_q)

('Deep Purple',)

In [ ]:
print("---------tracks---------")
allrowSelect(conn,"select * from pragma_table_info('tracks')")
print("---------albums---------")
allrowSelect(conn,"select * from pragma_table_info('albums')")
#yields album id as 60
allrowSelect(conn,"select * FROM albums WHERE (Title=='Fireball')")

---------tracks---------
(0, 'TrackId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(200)', 1, None, 0)
(2, 'AlbumId', 'INTEGER', 0, None, 0)
(3, 'MediaTypeId', 'INTEGER', 1, None, 0)
(4, 'GenreId', 'INTEGER', 0, None, 0)
(5, 'Composer', 'NVARCHAR(220)', 0, None, 0)
(6, 'Milliseconds', 'INTEGER', 1, None, 0)
(7, 'Bytes', 'INTEGER', 0, None, 0)
(8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)
---------albums---------
(0, 'AlbumId', 'INTEGER', 1, None, 1)
(1, 'Title', 'NVARCHAR(160)', 1, None, 0)
(2, 'ArtistId', 'INTEGER', 1, None, 0)
(60, 'Fireball', 58)

In [94]:
#11. Find the names of the tracks on the album "Fireball" and put them in alphabetical
#order. What is the name of the third track (in alphabetical order, not in the order in which
#they appeared on the album)?
fBall_q = '''
SELECT Name
FROM tracks
WHERE (AlbumId==60)
ORDER BY Name
'''
allrowSelect(conn, fBall_q)

("Anyone's Daughter",)
('Fireball',)
('Fools',)
('No No No',)
('No One Came',)
('Strange Kind Of Woman',)
('The Mule',)

("Anyone's Daughter",)
('Fireball',)
('Fools',)
('No No No',)
('No One Came',)
('Strange Kind Of Woman',)
('The Mule',)

In [207]:
#print("---------albums---------")
allrowSelect(conn,"select * from pragma_table_info('albums')")
album_art_q = '''
SELECT count(*)
FROM artists
'''
#yields that there exist 275 artists
allrowSelect(conn,"SELECT * from albums WHERE ArtistId = 47")

(0, 'AlbumId', 'INTEGER', 1, None, 1)
(1, 'Title', 'NVARCHAR(160)', 1, None, 0)
(2, 'ArtistId', 'INTEGER', 1, None, 0)

In [208]:
#12. How many artists in the database do not have any albums in the database?

album_art_q = '''
Select count(*) from artists
left join albums on artists.ArtistId = albums.ArtistId
where albums.ArtistId is null
'''

allrowSelect(conn, album_art_q)
#answer 71

(71,)

In [ ]:
print("---------tracks---------")
allrowSelect(conn,"select * from pragma_table_info('tracks')")
print("---------albums---------")
allrowSelect(conn,"select * from pragma_table_info('albums')")

---------tracks---------
(0, 'TrackId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(200)', 1, None, 0)
(2, 'AlbumId', 'INTEGER', 0, None, 0)
(3, 'MediaTypeId', 'INTEGER', 1, None, 0)
(4, 'GenreId', 'INTEGER', 0, None, 0)
(5, 'Composer', 'NVARCHAR(220)', 0, None, 0)
(6, 'Milliseconds', 'INTEGER', 1, None, 0)
(7, 'Bytes', 'INTEGER', 0, None, 0)
(8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)
---------albums---------
(0, 'AlbumId', 'INTEGER', 1, None, 1)
(1, 'Title', 'NVARCHAR(160)', 1, None, 0)
(2, 'ArtistId', 'INTEGER', 1, None, 0)

In [168]:
#13. What is the name of the second shortest album, in terms of the total milliseconds of
#its tracks stored in the database?

album_art_q = '''
SELECT Name FROM (SELECT distinct Name, AlbumId, sum(Milliseconds) as al_length
FROM tracks 
GROUP BY AlbumId 
ORDER BY al_length 
LIMIT 2 OFFSET 1) LIMIT 1
'''
#yields artist 66

allrowSelect(conn,album_art_q)

("L'orfeo, Act 3, Sinfonia (Orchestra)",)

In [ ]:
print("---------invoices---------")
allrowSelect(conn,"select * from pragma_table_info('invoices')")

In [174]:
#14. Find the number of invoices per billing city. Although there are 53 billing cities in the
#invoices table, there are are only a few distinct values of invoices per city. What are all
#of these values?
invQ = '''SELECT distinct counts FROM (
SELECT distinct count(*) as counts, BillingCity
FROM invoices
GROUP BY BillingCity)
'''
allrowSelect(conn, invQ)

(7,)
(6,)
(14,)



```
SELECT [DISTINCT] columns (**req**)
  FROM table (**req**)
  WHERE condition
  GROUP BY columns
  HAVING conditions
  ORDER BY column[ASC | DESC]
  LIMIT offset, count
  
  
  
CREATE TABLE movie (
    id integer PRIMARY KEY autoincrement,
    title text,
    director text,
    year text,
    runtime integer,
    genre text,
    budget real,
    gross real
);
  ```