<a href="https://colab.research.google.com/github/EvanPFWang/pythonPractice/blob/main/MIDTERM1DMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a function that given a positive integer n, returns a Python set of its (distinct) factors including 1 but not including n.

So, for instance, factors(28) should return {1, 2, 4, 7, 14}.

In determining the factors, do not divide n by any number greater than the square root of n, since factors exist in pairs of the form i and n//i where i is less than or equal to the square root of n. So you should add them in pairs.

Paste your code in the box below.

In [ ]:
import math

def factors(n):
  facts = [1]
  for i in [i for i in range(2,n) if i*i<n]:
    if n%i==0:
      facts.append(i)
      facts.append(int(n/i))
  return set(facts)
    

factors(28)

{1, 2, 4, 7, 14}

Question 2 (10 points) 
Use a dictionary comprehension to create a dictionary d consisting in which the keys are the numbers from 1 to 999 and the values are how many distinct factors each number has, not including itself.

Once you have this dictionary, if pandas has been imported as pd, you can use the following command in pandas

df=pd.DataFrame.from_dict(d, orient="index",columns=["nFactors"])
to create a dataframe df from your dictionary d with the index (row number) being each number and with a single column containing the number of distinct factors called "nFactors".

Then use the pandas idxmax() and max() methods on this dataframe to determine what number below 1000 has the most distinct factors. Print it out along with the number of distinct factors it has.

Paste your code in the box below. Also provide the value of the number below 1000 with the most distinct factors and the number of distinct factors it has.

In [ ]:
import math


def factors(n):
  facts = [1]
  for i in [i for i in range(2,n) if i*i<n]:
    if n%i==0:
      facts.append(i)
      facts.append(int(n/i))
  return len(facts)

d = {i:factors(i) for i in range(1,1000)}
df=pd.DataFrame.from_dict(d, orient="index",columns=["nFactors"])
print(df.idxmax(axis = 0))
print(factors(df.idxmax(axis = 0)))
#print(int(factors(pd.DataFrame.from_dict(d, orient="index",columns=["nFactors"]).idxmax(axis = 0))))

nFactors    840
dtype: int64

TypeError: ignored

A perfect number is a number that is equal to the sum of the factors not including itself.

Use your factors function and the Python sum function to create a list comprehension that creates a list of all of the perfect numbers under 10000. Print out the list. Do not include 1; 1 is not a perfect number.

Paste your code in the box below

In [ ]:

def factors(n):
  facts = [1]
  for i in [i for i in range(2,n) if i*i<n]:
    if n%i==0:
      facts.append(i)
      facts.append(int(n/i))
  return set(facts)

[n for n in range(2,10**4) if (n == sum(factors(n)))]

[6, 28, 496, 8128]

4 A Mersenne prime is a prime of the form (2^p)-1 where p is a positive integer. That is, it is a prime that is one less than a power of 2.

Write a generator function that yields the Mersenne primes in order. You will need a helper function that tests if a number n is prime. To do this, you will want to only divide by the numbers up until the square root of n (rounded). If you divide up by the numbers up until n-1, your prime tester will be too slow for this task.

Then call the next method on this generator function seven times to generate the first seven Mersenne primes. Make sure that you don't call it an eighth time because that will hang up your computer, as the eighth Mersenne prime is very large.

Paste your code in the box below. Include your prime number tester function.

In [ ]:
def primeTester(n):
  for i in [i for i in range(2,n) if i*i<n]:
    if n%i==0:
      return False
  return True

def merseGen():
  count = 0
  number = 2
  mersies = []
  while(count < 7):
    if primeTester(number):
      for i in [i for i in range(number) if 2**i-1<=number]:
        if 2**i-1==number:
          yield number

[i for i in merseGen()]

KeyboardInterrupt: ignored

Initialize a 5 by 5 array in numpy to all zeros. Then add 2 to the second and fourth rows of it, and then add 3 to the first, third, and fifth columns. Print out the result.

Paste your code in the box below.

In [ ]:
import numpy as np
x = np.zeros((5,5))
x[1]+=2
x[4]+=2
x[:,0]+=3
x[:,2]+=3
x[:,4]+=3
print(x)

array([[3., 0., 3., 0., 3.],
       [5., 2., 5., 2., 5.],
       [3., 0., 3., 0., 3.],
       [3., 0., 3., 0., 3.],
       [5., 2., 5., 2., 5.]])

Create a 10 by 10 numpy array with ones in the first row, last row, first column and last column and zeros inside. Reshape it to a 20 by 5 array. Then use the sum method to find out how many ones are in the first two columns of the 20 by 5 array. (Do not just count them manually.)

In [ ]:
import numpy as np
x = np.zeros((10,10))
x[0,:]=1
x[9,:]=1
x[:,0]=1
x[:,9]=1
x.shape = (20,5)
y = np.sum(x[:,0:2])

print(y)
x

16.0

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

Using pandas, import the file "us_school_list.csv" in our class data folder into a dataframe. This is a recent list of all of the primary and secondary schools in the U.S. You should get the columns SCHOOL_NAME, LEA_NAME, STATE, SCHOOL_TYPE, and LEVEL.

Issue pandas commands to calculate and print out the number of schools per state, the number of schools of each type ("SCHOOL_TYPE" column) and the number of schools at each level.

The "LEA_NAME" gives the name of the "local education authority" which is a district administering a set of schools. Create a dataframe which counts the schools in each LEA_NAME in descending order and print it out.

Paste your code in the box below.

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
import pandas as pd
states = pd.read_csv("/content/drive/MyDrive/data/us_school_list.csv").groupby(['STATE','SCHOOL_NAME', 'LEA_NAME', 'SCHOOL_TYPE', 'LEVEL' ]).sum()
#print(states['STATE'].value_counts())
#print(states['SCHOOL_TYPE'].value_counts())
#print(states['LEVEL'].value_counts())
states['STATE_COUNTS'] = states['STATE'].value_counts()
states
#states_auth = states['LEA_NAME'].value_counts()
#states_auth=states_auth.sort_values(ascending=False)
#states.mergepd.merge(a, b, on='k', how='outer')
#states_auth

KeyError: ignored

Read in the file "state_populations_and_densities.csv" from the class data directory into a dataframe. Convert all of the column names to upper case, and then convert all of the state names in the "STATE" column to upper case as well. Save these changes to the dataframe and print it.

In [ ]:
import pandas as pd
states = pd.read_csv("/content/drive/MyDrive/data/state_populations_and_densities.csv")
states.columns = list(map(lambda n: str(n).upper(),states.columns))
states

             STATE       POP    DENSITY
0       California  39995077   256.7424
1            Texas  29945493   114.6318
2          Florida  22085563   411.8520
3         New York  20365879   432.1580
4     Pennsylvania  13062764   291.9510
5         Illinois  12808884   230.7117
6             Ohio  11852036   290.0574
7          Georgia  10916760   189.8138
8   North Carolina  10620168   218.4411
9         Michigan  10116069   178.9220
10      New Jersey   9388414  1276.6405
11        Virginia   8757467   221.7642
12      Washington   7901429   118.8971
13         Arizona   7303398    64.2939
14   Massachusetts   7126375   913.6378
15       Tennessee   7023788   170.3356
16         Indiana   6845874   191.0868
17        Maryland   6257958   644.6851
18        Missouri   6188111    90.0194
19       Wisconsin   5935064   109.5879
20        Colorado   5922618    57.1450
21       Minnesota   5787008    72.6765
22  South Carolina   5217037   173.5484
23         Alabama   5073187   100.1715
24       Louisiana   4682633   108.3842
25        Kentucky   4539130   114.9554
26          Oregon   4318492    44.9899
27        Oklahoma   4000953    58.3272
28     Connecticut   3612314   746.0376
29            Utah   3373162    41.0510
30            Iowa   3219171    57.6324
31          Nevada   3185426    29.0162
32        Arkansas   3030646    58.2425
33     Mississippi   2960075    63.0837
34          Kansas   2954832    36.1408
35      New Mexico   2129190    17.5534
36        Nebraska   1988536    25.8843
37           Idaho   1893410    22.9107
38   West Virginia   1781860    74.1268
39          Hawaii   1474265   229.5290
40   New Hampshire   1389741   155.2263
41           Maine   1369159    44.3912
42    Rhode Island   1106341  1069.9623
43         Montana   1103187     7.5796
44        Delaware   1008350   517.3679
45    South Dakota    901165    11.8870
46    North Dakota    800394    11.5997
47          Alaska    738023     1.2933
48         Vermont    646545    70.1470
49         Wyoming    579495     5.9685

Use an inner join to create a dataframe that has three columns and one row per state: count of schools by state (aggregated from the US school list data), population, and density. Name these columns "SCHOOL_COUNT", "POP", and "DENSITY". Print out this dataframe.

This inner join should be missing two states that are not in the school data. Do an outer join instead of the inner join to see what they are. Which are they? (Note that the school data also contains other U.S. areas that are not states, but all of these are missing from the area and population table).

Paste your code in the box below. Also give the names of the two missing states mentioned above.

In [ ]:
import pandas as pd
states = pd.read_csv("/content/drive/MyDrive/data/state_populations_and_densities.csv")
inner = states['']